* {
  color: white;
}
body {
  margin: 0;
  background-color: #224870;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculadora {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 160px repeat(5, 75px);
  background-color: #00916e;
  padding: 15px;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  box-shadow: 15px 10px 0px 5px #00000033;
}